/*.a
*.o
.deps/
.dirstamp
/aclocal.m4
/config.aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/cpusupport-config.h
/scrypt
/stamp-h1
/Makefile
/Makefile.in
# Test infrastructure
/tests-output/
/tests-valgrind/
/tests/test_scrypt
/tests/valgrind/potential-memleaks
# Standard out-of-tree build directory
/build/
