*.o
.libs/
*.lo
*.la
.deps/
.dirstamp
/aclocal.m4
/config.aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/cpusupport-config.h
/scrypt
/stamp-h1
/m4/*
!/m4/check_libcperciva_posix.m4
!/m4/check_posix_sh.m4
/Makefile
/Makefile.in
# Test infrastructure
/tests-output/
/tests-valgrind/
/tests/libscrypt-kdf/sample-libscrypt-kdf
/tests/test_scrypt
/tests/valgrind/potential-memleaks
/tests/verify-strings/test_scrypt
# Standard out-of-tree build directory
/build/
